name: code quality

on:
  pull_request:

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.2.0
      - name: run biome
        run: biome ci .